<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div class="first">
        <a href="../index.php"><img src="../Uploads/logo.png" alt="Logo" width="120px" height="65px"></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="search.php"><button class="header-button">Search GameStop</button></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="header"></div>
    <br><br>
    <form action="../Controllers/signin-controller.php" method="post">
        <table align="center" cellpadding="25" cellspacing="11" bordercolor="#1B6392" border="2">
            <tr>
                <td>
                    <font color="#1B6392" face="times new roman" size="6">Sign In</font><br><br>
                    <font color="black" face="times new roman" size="4">Email</font>
                    <br>
                    <input type="email" name="email" id="email" size="43px" onkeyup="checkMail()">
                    <br>
                    <font color="red" face="times new roman" size="3" id="mailError"></font>
                    <br><br>
                    <font color="black" face="times new roman" size="4">Password</font><br>
                    <input type="password" name="password" id="password" size="43px" onkeyup="checkPassword()">
                    <br>
                    <font color="red" face="times new roman" size="3" id="passwordError"></font>
                    <br><br>
                    <input type="checkbox" name="Remember" value="a"> <font color="black" face="times new roman" size="4">Keep me signed in.</font><br><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button size="250px" name="submit" id="submitButton">Sign In</button>
                    <br><br>
                    <hr color="#1B6392" width="auto">
                    <p align="center"><font color="black" face="times new roman" size="2">New to GameStop?</font></p>
                    <a href="registration.html">
                        <center><font color="5799EF" face="times new roman" size="3">Create a New Account</font></center>
                    </a>
                </td>
            </tr>
        </table>
    </form>

    <script>
        function checkFormValidity() {
            let email = document.getElementById('email').value;
            let password = document.getElementById('password').value;
            let mailError = document.getElementById('mailError').innerText;
            let passwordError = document.getElementById('passwordError').innerText;
            let submitButton = document.getElementById('submitButton');

            if (email === '' || password === '' || mailError !== '' || passwordError !== '') {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        }

        function checkPassword() {
            let password = document.getElementById('password').value;

            if (password === '') {
                document.getElementById('passwordError').innerHTML = "Password cannot be empty.";
            } else if (password.length < 8) {
                document.getElementById('passwordError').innerHTML = "Password must be at least 8 characters long.";
            } else {
                document.getElementById('passwordError').innerHTML = "";
            }
            checkFormValidity();
        }

        function checkMail() {
            let mail = document.getElementById('email').value;
            let atPos = mail.indexOf('@');
            let dotPos = mail.lastIndexOf('.');

            if (!mail) {
                document.getElementById('mailError').innerHTML = "Email cannot be empty.";
            } else if (atPos === -1 || atPos === 0 || dotPos === -1 || dotPos <= atPos + 1 || dotPos === mail.length - 1) {
                document.getElementById('mailError').innerHTML = "Invalid email address.";
            } else {
                document.getElementById('mailError').innerHTML = "";
            }
            checkFormValidity();
        }
    </script>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="footer">
        <center>
            <a href="about-us.php"><font color="white" face="times new roman" size="4">About Us</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="helpline.php"><font color="white" face="times new roman" size="4">Helpline</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="faq.php"><font color="white" face="times new roman" size="4">FAQ</font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="terms-and-services.php"><font color="white" face="times new roman" size="4">Terms and Services</font></a><br><br><br>
            <font color="white" face="times new roman" size="3">GameStop</font><br>
            <font color="white" face="times new roman" size="2">GameStop LTD Company</font><br>
            <font color="white" face="times new roman" size="1">© 2024 by GameStop.com, Inc.</font>
        </center>
    </div>
</body>
</html>
